#signup-container{
    background-color: #c3c3c3;
    width: 500px;
    height: 550px;
    border-radius: 30px;
}

.container-all{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

h1{
    color: #c3c3c3;
}